body {
  font-family: 'Roboto', sans-serif;
  background-color: #85FFBD;
  background-image: linear-gradient(169deg, #85FFBD 0%, #FFFB7D 100%);
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height:20px;
  color:#03001C;
  font-weight: 300px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 7px black;
}

h1,h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

a {
  color: #d1d84c;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: black;
  font-weight: bolder;
  transition-duration: 0.2s;
  text-decoration: underline;
  font-size:large;
}

#whats:hover {
  color: rgb(89, 238, 9);
  font-weight: bolder;
  transition-duration: 0.2s;
  text-decoration: underline;
  font-size:xx-large;
}
#insta:hover {
  color: rgb(230, 99, 203);
  font-size:xx-large;
  font-weight: bolder;
  transition-duration: 0.2s;
  text-decoration: underline;
}
#linkedin:hover {
  color: rgb(18, 41, 212);
  font-weight: bolder;
  transition-duration: 0.2s;
  text-decoration: underline;
  font-size:xx-large;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#present{
text-align: right;
}

.card {
  box-shadow: 4px 4px 4px rgba(0,0,0,.5);
  border-radius: 20px;
  margin: 50px;
  padding: 50px;
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.list-inline li {
  display: inline;
  font-size: x-large;
}

.list-inline {
  text-align: center;
  padding: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
.zoom {
  transition: transform 0.5s; /* Animation */
  width: 210px;
  height: 210px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
